*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(110, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content{
    position: relative;
    display: grid;
    grid-template-columns: 300px 700px;
    width: 90%;
    max-width: 674px;
    min-height: 1000px;
    margin: 50px;
    justify-content: center;
}
.left-section{
    grid-column: span 1;
    position: relative ;
    background-color: black;
    color: white;
}
.right-section{
    grid-column: span 1 / span 2;
    position: relative;
    background-color: rgb(16,67,61);
    color: white;
}
.profile-image{
    padding: 1rem;
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    text-align: center;
}
.profile-image img{
    width: 60%;
    border: 5px solid white;
    border-radius: 30%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.contact-item .icon{
    text-align: center;
    margin-left: 1.5rem;
    padding: 0.75rem;

}
.contact-item .icon a{
    color: rgb(7,125,112);
}
.contact-item ul{
    margin-top: 0.5rem;

}
.contact-item ul li{
    position: relative;
    list-style: none;
    padding: 0.2rem;
}
.contact-item ul li .icon{
    color: rgb(7,125,112);
    display: inline-block;
    width: 30px;
    font-size: 18px;
    margin-left: 0.5rem;
}

.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

.skill-section ul li{
    list-style: none;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar{
    border: 1px solid white;
    height: 4px;
    display: block;
    margin: 5px;
}

.progress-bar div{
    height: 100%;
    background: white;
}

.right-main-content{
    padding: 2rem 3rem;
}
.right-main-content .right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.right-main-content p{
    padding: 0.5rem;
}
.education, .experience{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.education h4, .experience h4{
    padding: 0.5rem;
}

.text{
    width: 85%;
}
.year{
    width: 15%;
    text-align: right;
}

@media only screen and (max-width: 674px){
    .main-content{
        widtH: 90%;
        min-height: 1000px;
        grid-template-columns: repeat(1, 1fr);
    }
}
